/* ? About */
.container__title {
    text-align: center;

    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.about__inner {
    text-align: center;

}

.about__text {
    margin: 0 auto;
    margin-bottom: 50px;

    font-size: 18px;
}

.slogn {
    text-align: center;

    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.wrapper__list {
    width: 55%;
}

.list {
    padding: 0 15px;
}

.list__title {
    text-align: start;
    font-size: 20px;
    margin-bottom: 1em;
}

.list__text {
    font-size: 18px;
    text-align: start;
    margin-bottom: 1em;
}

.wrapper__img{
    width: 45%;
}

.wrapper__img img{
    display: block;
    max-width: 100%;
    height: auto;
}