@import url(header.css);
@import url(news.css);


/* * Root */
:root {
    --bg-color-header: rgb(207, 206, 206);
    --color-text-header: #333;

    --bg-color-news: antiquewhite;
    --bg-color-news-hover: rgb(253, 219, 173);

    --button-color: rgb(241, 168, 10);
}

/* ? Base */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	height: 100%;
}

body {
	margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}

/* ? Container */
.container {
    margin: 0 auto;
    width: 1500px;
}




/* TODO Что-то надо делать */
.space {
    height: 2000px;
}




@media (max-width: 1920px) {
    .nav__item {
        margin-left: 15px;
        font-size: 22px;
    }

    .container {
        width: 1200px;
    }

    .contacts__item {
        font-size: 13px;
        margin-left: 20px;
    }
}

@media (max-width: 1360px) {
    .nav__item {
        margin-left: 10px;
        font-size: 15px;
    }

    .contacts__item {
        font-size: 10px;
        margin-left: 10px;
    }

    .container {
        width: 800px;
    }
    .news__text {
        font-size: 30px;
    }
    
}

@media (max-width: 1050px){
    .header {
        height: 100px;
    }
}
